<div class="container text-center mt-5">
    <h3>{{title}}</h3>
    <!-- <p>{{from}}</p> -->
    <div class="d-flex justify-content-center mt-5">
        <div class="d-flex flex-column align-items-center justify-content-center mx-3" style="font-weight: 700;min-width:100px;width:200px;height: 150px;background-color: rgb(228, 180, 25);color:white;font-size: xx-large;">
            <div style="font-size: large;">Total</div>
            <div>{{total}}</div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3" style="font-weight: 700;min-width:100px;width:200px;height: 150px;background-color: tomato;color:white;font-size: xx-large;">
            <div style="font-size: large;">Schedule</div>
            <div>{{schedule}}</div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3" style="font-weight: 700;min-width:100px;width:200px;height: 150px;background-color: teal;color:white;font-size: xx-large;">
            <div style="font-size: large;">Booking</div>                
            <div>{{booking}}</div>
        </div>
        <div class="d-flex flex-column align-items-center justify-content-center mx-3" style="font-weight: 700;min-width:100px;width:200px;height: 150px;background-color: salmon;color:white;font-size: xx-large;">
            <div style="font-size: large;">Health Check</div>
            <div>{{health}}</div>
        </div>
    </div>
</div>