<div class="container-fluid" [ngStyle]="{'margin':'0', 'padding':'0'}">
    <div style="position:'fixed';top:'0';width: 100%;">
      <nav class="navbar navbar-dark bg-primary navbar-expand">
        <a class="navbar-brand" [ngStyle]="{'margin-right':'60px'}">Logger</a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <span class="nav-item nav-link active" routerLink='/'>Discover<span class="sr-only">(current)</span></span>
            <span class="nav-item nav-link active" routerLink='/visualize'>Visualize</span>
            
          </div>
        </div>
      </nav>
    </div>
    <div style="margin-top:70px">
      <router-outlet></router-outlet>
    </div>
</div>